h2 {
  text-align:center
  }
.margins {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
  border: 2px solid #00BFFF;
}
body {
  background-color: #D3D3D3;
}
h4 {
  font-weight:lighter
}
#education {
  font-weight:bolder
}
.right{
  float:right;
}
